[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
librosa = "*"
soundfile = "*"
ipykernel = "*"
openai-whisper = "*"
yt-dlp = "*"
faster-whisper = "*"

[dev-packages]

[requires]
python_version = "3.10"
